<a href="https://colab.research.google.com/github/moqri/LBF/blob/main/Clock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
gse='https://ftp.ncbi.nlm.nih.gov/geo/series/GSE40nnn/GSE40279/matrix/GSE40279_series_matrix.txt.gz'

In [35]:
import pandas as pd
df=pd.read_table(gse,nrows=500000,skiprows=69,index_col=0).T # reduce the nrows for testing

In [37]:
df.iloc[:5,:5]

ID_REF     cg00000029  cg00000108  cg00000109  cg00000165  cg00000236
GSM989827    0.464197    0.941091    0.911182    0.132014    0.717861
GSM989828    0.454883    0.939033    0.596455    0.206917    0.723935
GSM989829    0.485764    0.918802    0.870333    0.162861    0.719196
GSM989830    0.480785    0.929908    0.889689    0.197780    0.704061
GSM989831    0.501220    0.934548    0.890450    0.148437    0.754913

In [42]:
dg=pd.DataFrame(index=df.index)
dg['age']=ages.columns.str.strip('age (y):').astype(float)
dg.head(5)

            age
GSM989827  67.0
GSM989828  89.0
GSM989829  66.0
GSM989830  64.0
GSM989831  62.0

In [41]:
df['age']=dg.values
df.corrwith(df['age']).sort_values().tail(5)

ID_REF
cg22454769                  0.743261
cg06639320                  0.746669
cg16867657                  0.856851
age                         1.000000
!series_matrix_table_end         NaN
dtype: float64